<a class="btn platform-admin-tables">Hide / Display</a>
<table class="bordered highlight responsive-table">
  <thead>
    <tr>
      <th data-field="total-sales">Total Sales</th>
        <th data-field="category-sales">Category 1 Sales</th>
        <th data-field="current-month">Current Month Sales</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$398.76</td>
      <td>$42.87</td>
      <td>$234,231.87</td>
    </tr>
  </tbody>
</table><br><br>
