<div class="text center">
  <h2>Site Administrator Dashboard</h2>
</div>
<hr><br><br>

<div class="container">
<!-- Sitewide Sales Sumary Data -->
      <table class="bordered highlight responsive-table">
        <thead>
            <h4>Site-wide Sales Summary Data</h4>
          <tr>
            <th data-field="total-sales">Total Sales</th>
              <th data-field="category-sales">Category 1 Sales</th>
              <th data-field="current-month">Current Month Sales</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$398.76</td>
            <td>$42.87</td>
            <td>$234,231.87</td>
          </tr>
        </tbody>
      </table><br><br>
    <!-- Pending Stores -->
      <table class="bordered highlight responsive-table">
        <thead>
            <h4>Pending Stores</h4>
          <tr>
              <th data-field="title">Store Title</th>
              <th data-field="owner">Owner</th>
              <th data-field="description">Description</th>
              <th data-field="accreditation">Accreditation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jeffs Store</td>
            <td>Jeff Johnson</td>
            <td>We sell stuff to people</td>
            <td>Maybe a dropdown list of accredidations?</td>
          </tr>
          <tr>
            <td>Harry's Cool Store</td>
            <td>Harry Hudini</td>
            <td>We sell stuff to people</td>
            <td>Maybe a dropdown list of accredidations?</td>
          </tr>
          <tr>
            <td>Jon's Even Cooler Store</td>
            <td>Jon</td>
            <td>We sell stuff to people</td>
            <td>Maybe a dropdown list of accredidations?</td>
          </tr>
        </tbody>
      </table><br><br>
      <!-- all other stores -->
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <h4>All Stores<h4>
          </tr>
          <tr>
              <th data-field="title">Store Title</th>
              <th data-field="owner">Owner</th>
              <th data-field="description">Description</th>
              <th data-field="status">Active / Declined / Closed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jeffs Store</td>
            <td>Jeff Johnson</td>
            <td>We sell stuff to people</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Harry's Cool Store</td>
            <td>Harry Hudini</td>
            <td>We sell stuff to people</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Jon's Even Cooler Store</td>
            <td>Jon Guy</td>
            <td>We sell stuff to people</td>
            <td>Active</td>
          </tr>
        </tbody>
      </table><br><br>
</div>
