<div class="text center">
  <h2>Platform Dashboard</h2>
</div>
<hr><br><br>

<div class="row">
  <ul class="collapsible">
    <li class="collapsible">
      <div>First</div>
      <div><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div>Second</div>
      <div><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div>Third</div>
      <div><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
</div>

<div class="container">
<!-- Sitewide Sales Sumary Data -->
      <table class="bordered highlight responsive-table">
        <thead>
            <h4>Site-wide Sales Summary Data</h4>
          <tr>
            <th data-field="total-sales">Total Sales</th>
              <th data-field="category-sales">Category 1 Sales</th>
              <th data-field="current-month">Current Month Sales</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$398.76</td>
            <td>$42.87</td>
            <td>$234,231.87</td>
          </tr>
        </tbody>
      </table><br><br>
    <!-- Pending Stores -->
      <table class="bordered highlight responsive-table">
        <thead>
            <h4>Pending Stores</h4>
          <tr>
              <th data-field="title">Store Title</th>
              <th data-field="owner">Owner</th>
              <th data-field="description">Description</th>
              <th data-field="accreditation">Accreditation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jeffs Store</td>
            <td>Jeff Johnson</td>
            <td>We sell stuff to people</td>
            <td>Maybe a dropdown list of accredidations?</td>
          </tr>
          <tr>
            <td>Harry's Cool Store</td>
            <td>Harry Hudini</td>
            <td>We sell stuff to people</td>
            <td>Maybe a dropdown list of accredidations?</td>
          </tr>
          <tr>
            <td>Jon's Even Cooler Store</td>
            <td>Jon</td>
            <td>We sell stuff to people</td>
            <td>Maybe a dropdown list of accredidations?</td>
          </tr>
        </tbody>
      </table><br><br>
      <!-- all other stores -->
      <table class="bordered highlight responsive-table">
        <thead>
          <tr>
            <h4>All Stores<h4>
          </tr>
          <tr>
              <th data-field="title">Store Title</th>
              <th data-field="owner">Owner</th>
              <th data-field="description">Description</th>
              <th data-field="status">Active / Declined / Closed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jeffs Store</td>
            <td>Jeff Johnson</td>
            <td>We sell stuff to people</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Harry's Cool Store</td>
            <td>Harry Hudini</td>
            <td>We sell stuff to people</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Jon's Even Cooler Store</td>
            <td>Jon Guy</td>
            <td>We sell stuff to people</td>
            <td>Active</td>
          </tr>
        </tbody>
      </table><br><br>
</div>

<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script>
$(document).ready(function () {
  $('.dad-filter').click(function () {
    $('.dad-admin-order-table').addClass("hidden")
    



<!-- $(document).ready(function() {
  $("span").text("$100");
}); -->
<!-- <script src="jquery.min.js"></script> -->
<!-- <script src="application.js"></script> -->
