<h1> Admin Items Index: </h1>
<table class="bordered striped highlight centered responsive-table">
  <thead>
    <tr>
      <th data-field="Image">Image</th>
      <th data-field="Title">Title</th>
      <th data-field="Description">Description</th>
      <th data-field="Travesty">Travesty</th>
      <th data-field="Price">Price</th>
      <th data-field="Quantity">Quantity</th>
      <th data-field="Delete">Delete Item</th>
    </th>
  </tr>
</thead>
<tbody>
  <%= render partial: "partials/admin_items", collection: @items, as: :item %>
</tbody>
</table>
