
<%= render partial: 'partials/store_show_business_name' %>

<%= render partial: 'partials/show_top_sellers' %>


<!-- this block to change with filter  -->
<div class="row"> <!-- Third section of page -->
  <div class="col s12 m12 l12">
    <div class="col s3 m3 l3">
      <div class="card center">
        <span class="card-title">Search Our Products</span>
        <div class="card-content">
          <ul>
            <li>Category</li>
            <li>Region</li>
            <li>Price</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Search</a>
        </div>
      </div>
    </div>


  <%= render partial: 'partials/store_show_all_items' %>
  </div>
</div>
