<div id= 'small-spacer'>
</div>
<div class="row">
  <div class="s12 m12 l12 col" id='store-show-description'>
    <div class="s5 m5 l5 col">
      <img src="http://www.rei.com/media/product/892979">
    </div>
    <div class="s7 m7 l7 col">
      <h2>Store Title</h2>
      <p>Bacon ipsum dolor amet fatback pork chop corned beef spare ribs beef
        pancetta strip steak kevin sausage. Ham venison ham hock ball tip sausage.
        Venison frankfurter pork strip steak salami spare ribs. Spare ribs
        alcatra pork loin short ribs, meatball flank beef ribs pancetta shankle
        ham corned beef strip steak. Prosciutto meatloaf porchetta turkey drumstick.
        Pastrami bacon filet mignon andouille turducken, frankfurter flank
        capicola leberkas pork loin prosciutto ham short loin. Swine chuck
        salami meatloaf.

        Does your lorem ipsum text long for something a little meatier? Give our
        generator a try… it’s tasty!</p>
      <ul>
        <li>Accreditation 1</li>
        <li>Accreditation 2</li>
        <li>Accreditation 3</li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="row" id="home-middle">
  <h2 class="text center">Our Top Sellers</h2><br>
  <div class="col s4 m4 l4 center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/CH_cow_2_cropped.jpg" alt="" class="circle responsive-img" id="featured-circles">
    <p>Top Seller 1</p>
  </div>
  <div class="col s4 m4 l4 center">
    <img src="http://corporate.vattenfall.co.uk/globalassets/uk/projects/aberdeen-bay/3c_clashindarroch_windfarm.jpg" alt="" class="circle responsive-img" id="featured-circles">
    <p>Top Seller 2</p>
  </div>
  <div class="col s4 m4 l4 center">
    <img src="http://myteachermissoh.weebly.com/uploads/4/5/3/7/45371531/4792504_orig.jpg" alt="" class="circle responsive-img" id="featured-circles">
    <p>Top Seller 3</p>
  </div>
</div>

<div class="row"> <!-- Third section of page -->
  <div class="col s12 m12 l12">

    <div class="col s3 m3 l3">
      <div class="card center">
        <span class="card-title">Search Our Products</span>
        <div class="card-content">
          <ul>
            <li>Category</li>
            <li>Region</li>
            <li>Price</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Search</a>
        </div>
      </div>
    </div>

    <div class= 'col s9 m9 l9'>
      <div class="col s4 m4 l4" >
        <div class="card center" id="testing">
            <img src="http://www.rei.com/media/product/892979" id="card-image">
            <br>
            <span class="card-title">Card Title</span>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4 m4 l4">
        <div class="card center">
            <img src="http://www.rei.com/media/product/892979" id="card-image">
            <br>
            <span class="card-title">Card Title</span>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4 m4 l4">
        <div class="card center">
            <img src="http://www.rei.com/media/product/881935" id="card-image">
            <br>
            <span class="card-title">Card Title</span>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4 m4 l4" >
        <div class="card center" id="testing">
            <img src="http://www.rei.com/media/product/892979" id="card-image">
            <br>
            <span class="card-title">Card Title</span>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4 m4 l4">
        <div class="card center">
            <img src="http://www.rei.com/media/product/892979" id="card-image">
            <br>
            <span class="card-title">Card Title</span>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4 m4 l4">
        <div class="card center">
            <img src="http://www.rei.com/media/product/881935" id="card-image">
            <br>
            <span class="card-title">Card Title</span>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
