<div id="container">
  <h2>
    <%= travesty.title %>
  </h2>
    <div id="carousel">
        <ul>
          <%= render partial: "partials/sponsor", locals: {img: travesty.sponsor_image, title: travesty.sponsor_title} %>
          <%= render partial: "partials/item", collection: travesty.items %>
        </ul>
    </div>
<a id="navPrev" class="material-icons">fast_rewind</a>
<a id="navNext" class="material-icons">fast_forward</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<script type="text/javascript">

  //Define the animation speed for the Carousel
  var speed = 600,
  scroller = $('#carousel ul'),
  total = 0;

  scroller.width(function() {
          scroller.children().each(function(i, val) {
              var el = $(this);
              total = total + (el.outerWidth() + parseInt(el.css("marginLeft")));
          });
          return total;
      });
  var distance = ($('#carousel').outerWidth()-total);

  $('#navNext').click(function(){
      $(this).addClass('disable');
      $('#navPrev').removeClass('disable');
      scroller.animate({marginLeft:"-300px"}, speed);});

  $('#navPrev').click(function(){
      $(this).addClass('disable');
      $('#navNext').removeClass('disable');
      scroller.animate({marginLeft:'1px'}, speed);});

</script type="text/javascript">
