<div>
<meter id="meter" min="0" low="45000" optimum="0" high="25000" max="50000" value="<%= @user.total_purchased if @user %>"></meter>
<h5 style="padding-left:44vw;top:8rem;position:absolute;">Doomsday Meter</h5>
</div>
