<a class="dropdown-button" href="#!" data-activates="dropdown1">Browse By:</a>

<ul id="dropdown1" class="dropdown-content" style="top:125px;">
  <li>
    <%= link_to "Items", items_path %>
  </li>
  <li>
    <%= link_to "Travesties", travesties_path %>
  </li>
</ul>
