<div class="center-align">
  <div class="col s12 m5">
    <%= content_tag :div, (content_tag :span, sanitize(message), class: "flash_#{color}_card"), class: "card-panel #{color}", style:"transition:box-shadow .25s;padding:20px,100px,20px,100px;border-radius:2px;background-color:#fff;margin-left: 21.8vw;top:12rem;width: 56.4vw;"%>
  </div>
</div>
