<li>
  <div class="row">
    <div class="card">
      <span class="card-title">
        <%= review.user.username %>
      </span>
    </div>
    <div class="card-content center">
      <p><%= review.text %></p>
      <%= link_to "Delete Review", item_review_path(review.item_id, review), method: :delete %>
    </div>
  </div>
</li>
