<li>
  <div class="row">
    <div class="card">
      <span class="card-title">
        <%= review.user.username %>
      </span>
    </div>
    <div class="card-content center">
      <p><%= review.text %></p>
    </div>
  </div>
</li>
