<div id='gif-body'>


<div class="container center" style="width:34rem;">

    <div class="card">
      <div class="card-content" style="padding-top:20px;padding-left:55px;padding-bottom:20px;padding-right:55px;">
        <%= render partial: "partials/new_user_form", locals: { user: @user } %>
        </div>
      </div>
    </div>
  </div>
