  
<div class="container">
  <div class="row" style="padding-top:4rem;padding-top:4rem;padding-left:128px;width:119%;">
    <h1 style="color:white;"><%=travesty.title%></h1>
    <%= render partial: "partials/sponsor", locals: {img: travesty.sponsor_image, title: travesty.sponsor_title} %>
    <div>
    <%= render partial: "partials/grid_item", collection: travesty.items, as: :item %>
  </div>
  </div>
</div>
