<li>
  <div class="row">
    <div class="card" id="bp_ad">
      <div class="card-image">
        <%= image_tag img, height: '300', width: '300' %>
      </div>
      <div class="card-content center" id="sponsor-content">
        <div id="sponser-title">
          <p><%= title %></p>
          <p>Proud Sponser</p>
        </div>
      </div>
    </div>
  </div>
</li>
