<div class= 'row center' id="background-home">
  <p class="home-gif-center-paragraph">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  </p>
  <a class="waves-effect waves-light btn home-center-button">BROWSE</a>
</div>

<div class="row" id="home-middle">
  <div class="col s4 m4 l4 center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/CH_cow_2_cropped.jpg" alt="" class="circle responsive-img" id="featured-circles">
    <p>Carbon Offsets</p>
  </div>
  <div class="col s4 m4 l4 center">
    <img src="http://corporate.vattenfall.co.uk/globalassets/uk/projects/aberdeen-bay/3c_clashindarroch_windfarm.jpg" alt="" class="circle responsive-img" id="featured-circles">
    <p>Wind Farms</p>
  </div>
  <div class="col s4 m4 l4 center">
    <img src="http://myteachermissoh.weebly.com/uploads/4/5/3/7/45371531/4792504_orig.jpg" alt="" class="circle responsive-img" id="featured-circles">
    <p>Clean Water Initiatives</p>
  </div>
</div>

<div class="row">
  <div class="col s3 m3 l3">Filter thingy</div>
  <div class="col s3 m3 l3">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQgiq323v8-FvrZaAHAGzAS4iCn10ob45yObk6-AXb9HBkP2G8XQ" class="circle responsive-img" id="card-circles">
        <span class="card-title">Card Title</span>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s3 m3 l3">
    <div class="card">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTwzvLOTG9xZR96-U5Qjh4J5EEngImXKtpCuqLKf0gCYgHEtMhN" class="circle responsive-img" id="card-circles">
        <span class="card-title">Card Title</span>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s3 m3 l3">
    <div class="card">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT5x9qJkry-RmMY5Iw69ZkTm3XQJa5kuFEdcjjygC9VvRA1C0-u" class="circle responsive-img" id="card-circles">
        <span class="card-title">Card Title</span>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

</div>
