
  <div class= 'row center' id="snork">
    <h1>UTOPIFY</h1>
    <h2>Redeem yourself...</h2>
  </div>

  <div class="row">
    <div class="col s4 m4 l4 center">
      catregory 1
    </div>
    <div class="col s4 m4 l4 center">
      category 2
    </div>

    <div class="col s4 m4 l4 center">
      categroy 3
    </div>
  </div>

  <div class="row">
    <div class="col s3 m3 l3">
      Serch filter thingy
    </div>
    <div class="col s9 m9 l9">
      Product 1 each product will take up a col span of 3 - hopefully this will populate 3 items in the row and then move down to the next row
    </div>
  </div>
