<div class= 'container'>
  <div class="row"> <!-- Comapny Pic and Store Bio-->
    <div class="col s3 m3 l3">
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>Compamny Pic goes here!!!!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s9 m9 l9">
      <div class="">
        <h1>Store Bio</h1>
        <p>Utpoia Store Creation Date (Store.created_at)</p>
        <p>bascc dc sdv dv dzc cz vzcv zxfvxcvxcv zxc vx cvzx cv zxcvzx cv jnsd</p>
      </div>
    </div>
  </div>
</div>
<div class= 'container'>

  <table class="bordered striped responsive-table"> <!-- Sales Summary Data-->
    <thead>
      <h4>Sales Summary Data</h4>
      <tr>
        <th data-field="total-sales">Total Sales</th>
          <th data-field="category-sales">Category 1 Sales</th>
          <th data-field="current-month">Current Month Sales</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$398.76</td>
        <td>$42.87</td>
        <td>$234,231.87</td>
      </tr>
    </tbody>
  </table><br><br>

      <!-- Orders Data -->
  <table class="bordered highlight responsive-table">
    <thead>
      <h4>Orders</h4>
      <tr>
        <th data-field="id">Order id</th>
        <th data-field="name">Name</th>
        <th data-field="price">Price</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="customer">Customer</th>
        <th data-field="date-sold">Date Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Water</td>
        <td>$0.87</td>
        <td>34</td>
        <td>56</td>
        <td>12/34/2016</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Trees</td>
        <td>$3.76</td>
        <td>3455</td>
        <td>879</td>
        <td>01/32/2016</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Wind Power</td>
        <td>$7.00</td>
        <td>2</td>
        <td>8</td>
        <td>13/30/2016</td>
      </tr>
    </tbody>
  </table><br><br>
  <table class="bordered highlight responsive-table">
    <thead>
      <h4>Store Admin</h4>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Alvin@email.com</td>
        <td>(203) 234-2342</td>
      </tr>
    </tbody>
  </table><br><br>
  <table class="bordered highlight responsive-table">
    <thead>
      <h4>Categories I sell in</h4>
      <tr>
          <th>Category</th>
          <th>Total Sales</th>
          <th>Total Orders</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Water</td>
        <td>$23,456.00</td>
        <td>34</td>
      </tr>
    </tbody>
  </table><br><br>
</div>
