<div class="container center">
  <div class="col s2">
    <div class="card">
        <span class="card-title"><%= order.status %></span>
      <div class="card-content center">
        <p>Total Price:<%= number_to_currency(order.total_price) %></p>
      </div>
    </div>
  </div>
</div>
