<h1><%= "Order ##{"%07d" % @order.id.to_s}" %></h1>

<h1> Cart Contents: </h1>
<table class="bordered striped highlight centered responsive-table">
  <thead>
    <tr>
      <th data-field="Title">Title</th>
      <th data-field="Description">Description</th>
      <th data-field="Travesty">Travesty</th>
      <th data-field="Price">Price</th>
      <th data-field="Quantity">Quantity</th>
      <th data-field="LineTotal">Line Total</th>
      <th data-field="Status">Status</th>
      <th data-field="Ordered At">Ordered At</th>
    </th>
  </tr>
</thead>
<tbody>
  <%= render partial: "partials/show_order", collection: @order.order_items, as: :order_item %>
</tbody>
