

<h1> Cart Contents: </h1>
<table class="bordered striped highlight centered responsive-table">
  <thead>
    <tr>
      <th data-field="Image">Image</th>
      <th data-field="Title">Title</th>
      <th data-field="Description">Description</th>
      <th data-field="Travesty">Travesty</th>
      <th data-field="Price">Price</th>
      <th data-field="Quantity">Quantity</th>
      <th data-field="LineTotal">Line Total</th>
      <th data-field="Remove Item">Remove Item</th>
    </th>
  </tr>
</thead>
<tbody>
  <%= render partial: "partials/cart_items", collection: @cart.items, as: :item %>
</tbody>
</table>

<h2 style="float: right;"><%= "Total Price: " %><%= number_to_currency(@cart.total_price) %></h2>
