<div class='row'>
  <div class="container">
    <div class="col s5 m5 left">
      <div >
        <img id="item-image" src="http://www.intrawallpaper.com/static/images/1250654-for-laptop-nature.jpg">
      </div>
    </div>
  </div>

  <div class="col s4 m4 right"  >
    <div class="card-panel grey" id="item-description">
      <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="row" id="home-middle">
    <h4 class="text center">Other Items in <%= link_to "Category:", "#" %></h4><br>
    <div class="col s4 m4 l4 center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/CH_cow_2_cropped.jpg" alt="" class="circle responsive-img" id="featured-circles">
      <p>Monthly Subscription</p>
    </div>
    <div class="col s4 m4 l4 center">
      <img src="http://corporate.vattenfall.co.uk/globalassets/uk/projects/aberdeen-bay/3c_clashindarroch_windfarm.jpg" alt="" class="circle responsive-img" id="featured-circles">
      <p>Quarterly Subscription</p>
    </div>
    <div class="col s4 m4 l4 center">
      <img src="http://myteachermissoh.weebly.com/uploads/4/5/3/7/45371531/4792504_orig.jpg" alt="" class="circle responsive-img" id="featured-circles">
      <p>Annual Subscription</p>
    </div>
  </div>
</div>
