<div class='row container show-container'>
  <div class="col s6 m6 show-left">
    <div id="show-image">
      <img src="http://www.intrawallpaper.com/static/images/1250654-for-laptop-nature.jpg">
    </div>
  </div>

  <div class="col s5 m5 show-right"  >
    <h3 id="feature-title">Item Title</h2>
    <p id="feature-narrative">Bacon ipsum dolor amet fatback pork chop corned beef spare ribs beef
        pancetta strip steak kevin sausage. Ham venison ham hock ball tip sausage.
        Venison frankfurter pork strip steak salami spare ribs.
    </p>
    <p id="feature-details-dynamic">
      Seller: <a href="">Lenny's Store</a>
    </p>
    <p>$ <%= @item.price %></p>
    <a class="waves-effect waves-light btn add-to-cart">ADD TO CART</a>
  </div>
</div>

<div class="row">
  <div class="row" id="home-middle">
    <h4 class="text center">Other Items in <%= link_to "Category:", "#" %></h4><br>
    <div class="col s4 m4 l4 center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/CH_cow_2_cropped.jpg" alt="" class="circle responsive-img" id="featured-circles">
      <p>Monthly Subscription</p>
    </div>
    <div class="col s4 m4 l4 center">
      <img src="http://corporate.vattenfall.co.uk/globalassets/uk/projects/aberdeen-bay/3c_clashindarroch_windfarm.jpg" alt="" class="circle responsive-img" id="featured-circles">
      <p>Quarterly Subscription</p>
    </div>
    <div class="col s4 m4 l4 center">
      <img src="http://myteachermissoh.weebly.com/uploads/4/5/3/7/45371531/4792504_orig.jpg" alt="" class="circle responsive-img" id="featured-circles">
      <p>Annual Subscription</p>
    </div>
  </div>
</div>
