<%= render partial: "partials/gif_upper" %>

<div id='gif-body'>

<!-- create partial for orders that then calls partial for items -->

</div>

<h5 class="center">DoomsDay Meter:</h5>
<meter id="meter" min="0" low="90" optimum="0" high="50" max="100" value="95"></meter>

<%= render partial: "partials/carousel", collection: @travesties, as: :travesty %>
