<%= render partial: "partials/gif_upper" %>

<div id='gif-body'>

<!-- create partial for orders that then calls partial for items -->

</div>

<%= render partial: "partials/carousel", collection: @travesties, as: :travesty %>
