

<%= render partial: 'partials/show_item', locals: { item: @item } %>

<div class="center">
  <h3 class="review-text"><%= @item.title %> Reviews:</h3>
  <h5 class="review-text"><%= link_to "Add Review", new_item_review_path(@item) %></h5>
</div>
<ul>
  <div class="container">
    <%= render partial: 'partials/review_card', collection: @reviews, as: :review %>
  </div>
</ul>
