/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #gif-overlay {
   background-color: rgba(10, 10, 10, 0.5);
   background-size: cover;
   position: absolute;
   width:  100vw;
   height: 100vh;
   z-index: -20;
 }

 #gif-container {
  width:  100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  background-image: url(http://i.imgur.com/WTrMmzJ.jpg);
  z-index: -21;
}

#gif-body {
  padding-top: 100px;
}

#huge-page-button {
  color:white;
  width:400px;
  height:100px;
}
#large-page-button {
  color:white;
  width:300px;
  height:75px;
}

#large-page-button-text{
  border:0;
  font-style:normal;
  font-size:25px;
  text-transform:inherit;
  background:none;
  padding-top:1.7rem;
}

#huge-page-button-text{
  border:0;
  font-style:normal;
  font-size:30px;
  text-transform:inherit;
  background:none;
  padding-top:2rem;
}

#session_username{
  font-size: 2rem;
}

#session_password{
  font-size: 2rem;
}

#sign-up-text{
  font-size: 1.2rem;
}

label {
    font-size: 2rem;
}

h6 {
  text-decoration: underline;
}

section {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

#container-inner-card {
  padding-top:12vh;
}

html {
  box-sizing:border-box;
}

#index-shade {
  background-color: rgba(10, 10, 10, 0.5);
  background-size: 3500px;
  background-position-x: -1097px;
  background-position-y: -1059px;
  background-attachment: fixed;
  min-height: 100vh
}

body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Defense.gov_photo_essay_100506-N-6070S-819.jpg');
  background-size: 3500px;
  background-position-x: -1097px;
  background-position-y: -1059px;
  background-attachment: fixed;
  min-height: 100vh
}

.item-description{
  padding:20px;
}

.item-show {
  padding:20px;
 }

 .cart-qty {
   width: 10vw;
 }

 .card .card-action a {
   color:white;
   margin-right:0px;
 }

 .sign-up {
   padding-top: 10vh;
   width: 30%;
 }

 .checkout {
   padding-top: 10vh;
   width: 60%;
 }



 #nav-body {
 }



body h1 h2 h3 h4 {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-carousel {
  margin: 0.5rem 0 1rem 0.5rem;
}

.nav_custom {
  background-color: rgba(20, 20, 20, 0.0);
  height: 125px;
}

nav ul a {
  font-size: 1.3rem;
  padding: 30px;
}

h1 {
    margin: 3.0rem 0 1.68rem 0;
}

.jungle {
  font-family: 'Jungle';
  font-size: 45px;
}

.brand-logo a {
  font-size: 45px;
}

nav .brand-logo {
}

@font-face {
  font-family: 'Jungle';
  src: font-url( asset-path('JungleClean.ttf') );
  font-weight: normal;
  font-style: normal;
}

div#bp_ad {
    position: absolute;
    left: 0px;
    z-index: 999;
    width: 300px;
    height: 430px;
}

div#bp_ad_end {
    position: absolute;
    right: 0px;
    z-index: 999;
    width: 50px;
    height: 430px;
}

#sponsor-content {
  height: 69px;
  font-family:Cabin;
  font-size: 30px;
}

 #container {
   height: 100vh;
   width: 100vw;
   font-family: Tahoma;
 }

 #container-shade {
   position: relative;
   height: 100vh;
   width: 100vw;
   background-color: rgba(64, 110, 162, 0.3);
 }

 #carousel {
    height: 385px;
    width: 100vw;
    overflow: hidden;
}

#carousel-sponsor {
  height:370px;
  width:200px;
  overflow:hidden;
}

 #carousel ul {
   list-style-type:none;
   margin-top:4px;
   margin-left:0;
   left:0;
   padding-left:1px;}

 #carousel li {
   display: inline;
 }

 #carousel ul li{
   width:300px;
   height:369px;
   margin: 1px 0 0 1px;
   float:left; }

 #navPrev {

   padding-left: 21.5vw;
   font-size: 4rem;
   color: rgba(20, 20, 20, 0.5);
 }

 #navNext {

   padding-right: 2vh;
   float:right;
   font-size: 4rem;
   color: rgba(20, 20, 20, 0.5);
 }

 .disable{
     opacity: 0.5
 }

 meter {
   width: 100%;
   height: 40px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

.review-text {
  color: white;
}
