/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .cart-qty {
   width: 10vw;
 }

 .card .card-action a {
   color:white;
 }

 .sign-up {
   padding-top: 10vh;
   width: 30%;
 }

 .checkout {
   padding-top: 10vh;
   width: 70%;
 }

 #gif-body {
   padding-top: 420px;
 }

 #gif-overlay {
   background-color: rgba(10, 10, 10, 0.5);
   background-size: cover;
   position: absolute;
   width:  100vw;
   height: 420px;
 }

 #gif-container {
  width:  100vw;
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url(http://i.imgur.com/WTrMmzJ.jpg);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.nav_custom {
  background-color: #E66C2C;
  height: 125px;
}

nav ul a {
  font-size: 1.3rem;
  padding: 30px;
}

h1 {
    margin: 3.0rem 0 1.68rem 0;
}

.jungle {
  font-family: 'Jungle';
  font-size: 45px;
}

.brand-logo a {
  font-size: 45px;
}

nav .brand-logo {
}

@font-face {
  font-family: 'Jungle';
  src: url('/assets/JungleClean.ttf')
}

div#bp_ad {
    position: absolute;
    left: 0px;
    z-index: 999;
    width: 300px;
    height: 430px;
}

div#bp_ad_end {
    position: absolute;
    right: 0px;
    z-index: 999;
    width: 50px;
    height: 430px;
}

#sponsor-content {
  height: 69px;
  font-family:Cabin;
  font-size: 30px;
}

 #container {
   height:369px;
   width:100vw;
   font-family:Tahoma;
   margin: 20px auto;
   padding-top: 50px;
 }

 #carousel {
   height:400px;
   width:100vw;
   overflow: hidden;
}

#carousel-sponsor {
  height:369px;
  width:200px;
  overflow:hidden;
}

 #carousel ul {
   list-style-type:none;
   margin-top:4px;
   margin-left:0;
   left:0;
   padding-left:1px;}

 #carousel li {
   display: inline;
 }

 #carousel ul li{
   width:300px;
   height:369px;
   margin: 1px 0 0 1px;
   float:left; }

 #navPrev {
   padding-top: 1vh;
   padding-left: 21vw;
   font-size: 4rem;
   color: rgba(20, 20, 20, 0.5);
 }

 #navNext {
   padding-top: 1vh;
   padding-right: 8vh;
   float:right;
   font-size: 4rem;
   color: rgba(20, 20, 20, 0.5);
 }

 .disable{
     opacity: 0.5
 }

 meter {
   width: 100%;
   height: 40px;
   border: 1px solid #ccc;
   border-radius: 3px;
   border:1px solid black;
 }
